
@mixin flex($fd: row, $jc: flex-start, $ai: flex-start) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin flex-gap($fd: row, $gp: 0) {
    display: flex;
    flex-direction: $fd;
    gap: $gp;
}