
// breakpoints

$bp-md: 768px;
$bp-lg: 1200px;

// colors

$background-color-primary: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);
$background-color-secondary: #202020;
$background-color-projects: #3C3C3C;
$background-color-card: #FFFEF2;

// text colors

$text-color-primary: #FFFFFF;
$text-color-secondary: #565656;
$text-color-resume-title: #FAEB49;
$text-color-black: #000;

// font family

$font-style-primary: DynaPuff;
$font-style-secondary: Manrope;

