@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer {
padding: 53px 16px 40px;
background: $background-color-secondary;

    @media (min-width: $bp-md) {
        padding: 96px 22px 35px 32px;
    }

    @media (min-width: $bp-lg) {
        padding: 78px 263px 30px;
    }
}

.call-now {
    margin-bottom: 163px;
    @include flex-gap(row, 20px);
    justify-content: center;
    align-items: center;
    border-radius: 139px;
    border: 1px solid var(--Gray-6, #F2F2F2);
    height: 72px;
    width: 342px;

    @media (min-width: $bp-md) {
        margin-bottom: 60px;
        @include flex-gap(row, 45px);
        width: 714px;
        height: 150px;
    }

    @media (min-width: $bp-lg) {
        margin-bottom: 163px;
        height: 172px;
        width: 914px;
    }
}

.call-now__text-wrapper {
    @include flex-gap(column, 6px);

    @media (min-width: $bp-md) {
        @include flex-gap(column, 17px);
    }
}

.call-now__title {
    color: $text-color-primary;
    font-family: $font-style-primary;
    font-size: 20px;
    font-weight: 700;

    @media (min-width: $bp-md) {
       font-size: 48px;
    }
}

.call-now__text {
    color: $text-color-primary;
    font-family: $font-style-secondary;
    font-size: 15px;
    font-weight: 500;
    position: relative;

    &::after {
        content: '';
        background-image: url("../../img/graphic-content/arrow-right.svg");
        background-size: cover;
        width: 33px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 131px;

        @media (min-width: $bp-md) {
           width: 55px;
           height: 26px;
           left: 194px;
        }
    }

    @media (min-width: $bp-md) {
        font-size: 24px;
    }
}

.medias-text {
    @include flex-gap(column, 21px);
    align-items: center;
    margin: 0 72px;
    width: 198px;

    @media (min-width: $bp-md) {
        margin: 0 253px;
    }

    @media (min-width: $bp-lg) {
        margin: 0 358px;
    } 
}

.medias-text__list {
    @include flex-gap(row, 34px)
}

.medias-text__text {
    color: $text-color-primary;
    font-family: $font-style-secondary;
    font-size: 14px;
    font-weight: 500;

    @media (min-width: $bp-md) {
        font-size: 16px;
        width: 226px;
    }
}


