@import "../abstracts/variables";
@import "../abstracts/mixins";

.graphic-design {
    padding: 58px 16px 93px;
    background: $background-color-secondary;

    & .graphic-design__title {
        color: $text-color-primary;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 28px;

        @media (min-width: $bp-md) {
            font-size: 80px;
            margin-bottom: 38px;
        }
    }

    @media (min-width: $bp-md) {
        padding: 82px 32px 129px;
    }

    @media (min-width: $bp-lg) {
        padding: 82px 190px 138px;
    }
}

.graphic-cards-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @media (min-width: $bp-md) {
        grid-template-columns: 1fr 1fr;
        gap: 26px;
        width: 704px;
    }
}

.graphic-image-container {
    position: relative;

    & img {
        width: 343px;
         height: 325px;
         object-fit: cover;
         border-radius: 40px;
         filter: grayscale(100%);
    }
}

.graphic-image-container-1 {
    
    @media (min-width: $bp-md) {
        grid-column: 1 / span 2;

        & img {
            width: 704px;
            height: 414px;
           }
    }

    @media (min-width: $bp-lg) {
        & img {
            width: 1055px;
            height: 414px;   
        }
    }
}

.graphic-image-container-2,
.graphic-image-container-3 {
    
    @media (min-width: $bp-md) {
        & img {
            width: 336px;
            height: 325px;
           }
    }

    @media (min-width: $bp-lg) {
        & img {
            width: 514px;
            height: 414px;   
        }
    }
}

.graphic-image-container-1::before {
    content: '';
    background-image: url("../../img/graphic-content/soft-star.svg");
    width: 172px;
    height: 172px;
    position: absolute;
    top: 75px;
    left: 85px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;

    @media (min-width: $bp-md) {
        width: 227px;
        height: 227px;
        top: 93px;
        left: 238px;
    }

    @media (min-width: $bp-lg) {
        width: 268px;
        height: 268px;
        top: 67px;
        left: 396px;
    }
}

.graphic-image-container-2::before {
    content: '';
    background-image: url("../../img/graphic-content/Butterfly.svg");
    width: 134px;
    height: 137px;
    position: absolute;
    top: 94px;
    left: 104px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;

    @media (min-width: $bp-md) {
        width: 157px;
        height: 161px;
        top: 87px;
        left: 94px;
    }

    @media (min-width: $bp-lg) {
        width: 187x;
        height: 191px;
        top: 111px;
        left: 163px;
    }
}

.graphic-image-container-3::before {
    content: '';
    background-image: url("../../img/graphic-content/asterisk.svg");
    width: 148px;
    height: 143px;
    position: absolute;
    top: 91px;
    left: 97px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 99;

    @media (min-width: $bp-md) {
        width: 183px;
        height: 177px;
        top: 74px;
        left: 75px;  
    }

    @media (min-width: $bp-lg) {
        width: 233px;
        height: 225px;
        top: 94px;
        left: 140px;
    }
}