@import "../abstracts/variables";
@import "../abstracts/mixins";

.header {
    background: $background-color-primary;
    padding: 27px 17px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;

@media (min-width: $bp-md) {
    padding: 38px 31px 38px 34px;    
}

@media (min-width: $bp-lg) {
    padding: 41px 363.5px 41px 191px;
}
}

.header__header-container {
    //я не зрозумів як залишити дефолтним flex diraction першим в списку, тому вписав row. 
    @include flex(row,space-between, center); 
    margin:  0 auto;

    & a {
        width: 56px;
        height: 56px;
    }

    & button {
        width: 56px;
        height: 56px;
        border-radius: 20px;
        border: 2px solid #FFF;
        background: none;

        @media (min-width: $bp-lg) {
            display: none;
        }
    }
}

.header__list {
    display: none;

    @media (min-width: $bp-lg) {
        display: flex;
        gap: 20px;
    }
}

.header__link {
    padding: 10px 16px 10px 35px;
    border-radius: 20px;
    border: 1px solid #FFF;
    color: $text-color-primary;
    font-family: $font-style-secondary;
    font-size: 16px;
    font-weight: 700;
    position: relative;


    &::before {
        content: '';
        background-image: url("../../img/header-graphic/fi-rr-magic-wand.svg");
        width: 16px;
        height: 16px;
        position: absolute;
        left: 16px;
    }

    &.header__resume::before {
        background-image: url("../../img/header-graphic/fi-rr-document.svg");
    }

    &.header__testimonials::before {
        background-image: url("../../img/header-graphic/fi-rr-flower-tulip.svg");
    }

    &.header__contact::before {
        background-image: url("../../img/header-graphic/fi-rr-comment-heart.svg");
    }

    @media (min-width: 1214px) {
        padding: 10px 16px 10px 44px;
    }
}