@import "../abstracts/variables";
@import "../abstracts/mixins";

.projects {
    padding: 52px 16px 85px;
    background: $background-color-projects;

    @media (min-width: $bp-md) {
        padding: 52px 32px 122px;
    }

    @media (min-width: $bp-lg){
        padding: 86px 195px;
    }
}

.title-card {
    border-radius: 24px;
    @include flex-gap(column, 20px);
    margin-bottom: 63px;
    background: $background-color-card;
    padding: 16px;
    position: relative;

    & img {
        width: 100%;
        border-radius: 13px;
    }

    @media (min-width: $bp-md) {
        padding: 24px 20px;
    }
}

.card:nth-child(1) {
    display: none;

    @media (min-width: $bp-md) {
        display: flex;    
        }
} 

.card:nth-child(3) {
    display: none;

    @media (min-width: $bp-lg) {
        display: flex;
    }
}

.title-card__text-wrapper {
    @include flex-gap(column, 22px);
}

.title-card__title {
    color: $text-color-secondary;
    font-size: 32px;
    font-weight: 600;
}

.title-card__description {
    color: $text-color-black;
    font-family: $font-style-secondary;
    font-size: 15px;
    font-weight: 700;
}

.cards-wrapper {
    display: flex;
    gap: 40px;
    width: 100%;
}


.card {
    @include flex-gap(column, 20px);
    border-radius: 24px;
    padding: 12px;
    background: $background-color-card;
    position: relative;
    width: 343px;
    
    & img {
        border-radius: 13px;
        height: 363px;
        object-fit: cover;

        @media (min-width: $bp-md) {
            height: 448px;
        }
    
        @media (min-width: $bp-lg){
            height: 338px;
        }
    }

    @media (min-width: $bp-md) {
        width: 333px;
    }

    @media (min-width: $bp-lg){
        width: 325px;
    }  
    
    &::before {
        content: '';
        background-image: url("../../img/graphic-content/arrow-circle-all.svg");
            width: 66px;
            height: 66px;
            position: absolute;
            top: 20px;
            right: 20px;
    }
}

.card__text-wrapper {
    @include flex-gap(column, 22px);
}

.card__title {
    color: $text-color-secondary;
    font-size: 24px;
    font-weight: 700;
}

.card__description {
    color: $text-color-black;
    font-family: $font-style-secondary;
    font-size: 15px;
    font-weight: 500;
}
