@import "../abstracts/variables";
@import "../abstracts/mixins";

.quote {
    background-image: url("../../img/img/rectangle-d.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 180px 16px 173px;

    & .quote__title {
        color: $text-color-primary;
        font-size: 24px;
        font-weight: 700;

    @media (min-width: $bp-md) {
        font-size: 48px;
        }
    }

    @media (min-width: $bp-md) {
        padding: 274px 31px 294px;
    }

    @media (min-width: $bp-lg) {
        padding: 303px 190px 323px;
    }
}

