@import "../abstracts/variables";
@import "../abstracts/mixins";

.resume {
    padding: 72px 17px 76px 16px;
    background: $background-color-secondary;
    @include flex-gap(column, 40px);
    position: relative;

    &::after {
        content: '';
        background-image: url("../../img/graphic-content/elipse.svg");
        background-size: cover;
        width: 167px;
        height: 320px;
        position: absolute;
        top: 53px;
        right: -65px;

        @media (min-width: $bp-md) {
            width: 268px;
            height: 512px;
            top: -31px;
            right: -16px;
        }

        @media (min-width: $bp-lg) {
            width: 268px;
            height: 612px;
            top: -61px;
            right: 0;
        }

        @media (min-width: 1393px) {
            height: 512px;
            top: -41px;
        }
    }

    @media (min-width: $bp-md) {
        padding: 101px 195px 102px 33px; 
    }

    @media (min-width: $bp-lg) {
        padding: 101px 709px 102px 191px;
    }
}


.resume__title {
    color: $text-color-resume-title;    
    font-size: 36px;
    font-weight: 700;

    @media (min-width: $bp-md) {
        font-size: 48px;
    }
}

.resume__description {
    color: $text-color-primary;
    font-family: $font-style-secondary;
    font-size: 15px;
    font-weight: 500;

    @media (min-width: $bp-md) {
        font-size: 16px;
    }
}

.resume__summary-wrapper {
    @include flex-gap(row, 14px);

    @media (min-width: $bp-md) {
        @include flex-gap(row, 96px);
    }
}

.resume__summary {
    @include flex-gap(column, 5px);
}

.resume__amount {
    color: $text-color-primary;
    font-size: 36px;
    font-weight: 700;

    @media (min-width: $bp-md) {
        font-size: 48px;
    }
}

.resume__amount-info {
    color: $text-color-primary;
    font-family: $font-style-secondary;
    font-size: 16px;
    font-weight: 700;
}