@import "../abstracts/variables";
@import "../abstracts/mixins";

.title {
background: $background-color-primary;
margin-top: 110px;
padding: 302px 28px 149px 21px;

@media (min-width: $bp-md) {
    padding: 163px 213px 130px 34px;
    margin-top: 132px;
}

@media (min-width: $bp-lg) {
    padding: 381px 403px 119px 191px;
    margin-top: 138px;
}
}

.title__main-title {
    color: $text-color-primary;
    font-size: 48px;
    font-weight: 700;

    @media (min-width: $bp-md) {
        font-size: 80px;
    }
}